body {
}
header {
    top: 0px;
    text-align: center;
    color: blue;
    font-weight: bolder;
    font-size: 50px;
    margin: auto;
    padding: 10px 0;
}

footer {
    font-size: 25px;
    font-weight: bolder;
    color: brown;
    text-align: center;
}
.menu-item {
    color: dimgray;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px;
    background-color: lightgray;
    width: 98%;
    border: groove;
    border-block: solid;
}