<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>

    <configSections>
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
    </configSections>

    <!-- ✅ DATABASE CONNECTION -->
    <connectionStrings>
        <add name="conn"
             connectionString="Server=localhost;Database=PBA;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=False;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <!-- ✅ ASP.NET SETTINGS -->
    <system.web>
        <compilation debug="true" targetFramework="4.7.2" />

        <authentication mode="Forms">
            <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
        </authentication>
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

    <!-- ✅ ENTITY FRAMEWORK 6 -->
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

</configuration>
